html{
    scroll-behavior: smooth;
  }
  
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    background-color: black;
    color: #fff;
  }
  
  
  ul {
      list-style: none;
  }
  
  a{
      text-decoration: none;
      color: #fff;
      font-size: 1.1em;
      font-weight: 500;
      transition: all 0.5s;
  }
  
  a:hover{
    color: #1abc9c;
  }
  
  li {
    display: inline;
    margin-right: 3rem;
    left: 550px;
    position: relative;
    font-size: 1.1rem; 
  }
  
  .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu{
    line-height: 30px;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 80px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  }
  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  nav h1{
    font-size: 1.7em;
    font-weight: 800;
    text-transform: uppercase;
    font-style: italic;
    color: #fff;
  }

  .img_fundo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: -2;
  }
  
  .sobrepor{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .titulo h2{
    text-align: center;
    font-family: Fantasy;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.4;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    top: 7rem;
    letter-spacing: 7px;
  }
  
  span{
    font-size: 62px;
    display: block;
  }
  
  .linha{
    display: block;
    margin: 20px auto 50px;
    width: 190px;
    max-width: 90%;
    top: 6rem;
    position: relative;
  }

  .cardapio{
    width: 80%;
    background-color: black;
    height: 585vh;
    top: 10.6rem;
    position: relative;
    left: 10%;
  }

  .menu_cardapio a{
    position: relative;
    margin-right: 2rem;
    border: 2px solid #fff;
    padding: 8px;
    border-radius: 8px;
    font-family: cursive;
    font-weight: 300;
  }

  .menu_cardapio a:hover{
    background-color: #fff;
    color: black;
    transition: 0.8s;
  }

  .menu_cardapio{
    text-align: center;
    margin-top: 3rem;
    text-transform: uppercase;
    top: 4rem;
    position: relative;
  }

  .titulo_cardapio{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    top: 8rem;
    position: relative;
    font-family: fantasy;
    letter-spacing: 2.5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  .linha_div_titulo{
    position: relative;
    height: 1px;
    width: 100%;
    background-color: #fffafa9e;
    display: block;  
    z-index: 2;
    top: 8rem;
  }

  .linha_div_titulo_cima{
    position: relative;
    height: 1px;
    width: 100%;
    background-color: #fffafa9e;
    display: block;  
    z-index: 2;
    top: 8rem;
    margin-top: 3rem;
  }

  .cardapio p{
    top: 8rem;
    position: relative;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
  }

  .cardapio h2{
    top: 8rem;
    position: relative;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.6;
    color: #fff;
    margin: 32px 0 6px;
    text-transform: uppercase;
  }


  .footer{
    height: 50vh;
    position: relative;
    top: 9.4rem;
    width: 100%;
    background-color: black;
  }
  
  .linha_footer{
    position: relative;
    height: 1px;
    width: 80%;
    left: 10%;
    background-color: #fffafa9e;
    display: block;
    bottom: -6rem;
  }
  
  .footer{
    color: #fffafa9e;
    text-align: center;
  }
  
  .txt_footer p{
    color: #fffafa9e;
  }
  
  .txt_footer{
    top: 5rem;
    position: relative;
  }
  
  .footer h5{
    position: relative;
    top: 7rem;
  }

  .linha_div_footer{
    position: relative;
    height: 1px;
    width: 100%;
    background-color: #fffafa9e;
    display: block;
    bottom: -13.5rem;
    z-index: 2;
  }
