html{
    scroll-behavior: smooth;
  }
  
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    background-color: black;
    color: #fff;
  }
  
  
  ul {
      list-style: none;
  }
  
  a{
      text-decoration: none;
      color: #fff;
      font-size: 1.1em;
      font-weight: 500;
      transition: all 0.5s;
  }
  
  a:hover{
    color: #1abc9c;
  }
  
  li {
    display: inline;
    margin-right: 3rem;
    left: 550px;
    position: relative;
    font-size: 1.1rem; 
  }
  
  .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu{
    line-height: 30px;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 80px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  }

  .btn-menu{
    cursor: pointer;
    display: none;
  }
  
  .btn-menu div{
    width: 32px;
    height: 4px;
    background: #fff;
    margin: 8px;
  }
  
  
  .btn-menu-x{
    cursor: pointer;
    display: none;
  }
  
  .btn-menu-x .linha1{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transform: rotate(45deg);
  }
  
  .btn-menu-x .linha2{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transform: rotate(135deg);
  }
  
  .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 80px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  }
  
  .menu_mobile{
    position: absolute;
    right: 5rem;
    top: 70px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden; 
    display: none;
    height: 200px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .menu_mobile li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  nav h1{
    font-size: 1.7em;
    font-weight: 800;
    text-transform: uppercase;
    font-style: italic;
    color: #fff;
  }

  .img_fundo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: -2;
  }
  
  .sobrepor{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .titulo h2{
    text-align: center;
    font-family: Fantasy;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.4;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    top: 7rem;
    letter-spacing: 7px;
  }
  
  span{
    font-size: 62px;
    display: block;
  }
  
  .linha{
    display: block;
    margin: 20px auto 50px;
    width: 190px;
    max-width: 90%;
    top: 6rem;
    position: relative;
  }

  .cardapio{
    width: 80%;
    background-color: black;
    height: 585vh;
    top: 10.6rem;
    position: relative;
    left: 10%;
  }

  .menu_cardapio a{
    position: relative;
    margin-right: 2rem;
    border: 2px solid #fff;
    padding: 8px;
    border-radius: 8px;
    font-family: cursive;
    font-weight: 300;
  }

  .menu_cardapio a:hover{
    background-color: #fff;
    color: black;
    transition: 0.8s;
  }

  .menu_cardapio{
    text-align: center;
    margin-top: 3rem;
    text-transform: uppercase;
    top: 4rem;
    position: relative;
  }

  .titulo_cardapio{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    top: 8rem;
    position: relative;
    font-family: fantasy;
    letter-spacing: 2.5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  .linha_div_titulo{
    position: relative;
    height: 1px;
    width: 100%;
    background-color: #fffafa9e;
    display: block;  
    z-index: 2;
    top: 8rem;
  }

  .linha_div_titulo_cima{
    position: relative;
    height: 1px;
    width: 100%;
    background-color: #fffafa9e;
    display: block;  
    z-index: 2;
    top: 8rem;
    margin-top: 3rem;
  }

  .cardapio p{
    top: 8rem;
    position: relative;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
  }

  .cardapio h2{
    top: 8rem;
    position: relative;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.6;
    color: #fff;
    margin: 32px 0 6px;
    text-transform: uppercase;
  }


  .footer{
    height: 50vh;
    position: relative;
    top: 9.4rem;
    width: 100%;
    background-color: black;
  }
  
  .linha_footer{
    position: relative;
    height: 1px;
    width: 80%;
    left: 10%;
    background-color: #fffafa9e;
    display: block;
    bottom: -6rem;
  }
  
  .footer{
    color: #fffafa9e;
    text-align: center;
  }
  
  .txt_footer p{
    color: #fffafa9e;
  }
  
  .txt_footer{
    top: 5rem;
    position: relative;
  }
  
  .footer h5{
    position: relative;
    top: 7rem;
  }

  .linha_div_footer{
    position: relative;
    height: 1px;
    width: 100%;
    background-color: #fffafa9e;
    display: block;
    bottom: -13.5rem;
    z-index: 2;
  }
  @media screen and (max-width: 600px){

    .img_fundo{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      object-fit: cover;
      z-index: -2;
    }
  
    .menu a{
      font-size: 16px;
      line-height: 1.2rem;
  }
  
  li {
    font-size: 1rem; 
    margin-right: 3rem;
    left: 120px;
    display: block;
  }
  
  ul {
    display: none;
  }
  
  .menu{
    line-height: 12px;
    padding: 0 40px;
  }
  
  .btn-menu{
    display: block;
    top: 0.5rem;
    right: 1.3rem;
    position: absolute;     
    -webkit-tap-highlight-color: transparent;
  }
  
  .btn-menu div{
    width: 38px;
    height: 4px;
    background: #fff;
    margin: 8px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .btn-menu-x{
      display: none;
      top: -0.5rem;
      right: 0.3rem;
      position: absolute;     
      -webkit-tap-highlight-color: transparent;
  
  }
  
  .btn-menu-x .linha1{
    width: 38px;
    height: 5px;
    background: #fff;
    margin: 8px;
    transform: rotate(45deg);
    top: 28px;
    right: 1rem;
    position: relative;
    border-radius: 10px;
  }
  
  .btn-menu-x .linha2{
    width: 38px;
    height: 5px;
    background: #fff;
    margin: 8px;
    transform: rotate(135deg);
    top: 1rem;
    right: 1rem;
    position: relative;
    border-radius: 10px;
  }
  
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  
  .menu_mobile {
  display: none;
  animation: slideDown 0.5s ease-out forwards;
  }
  
  .menu_mobile.visible {
  display: block; 
  z-index: 1;
  }
  
  .menu_mobile {
  display: none; 
  right: 1.3rem;
  align-items: center;
  text-align: center ;
  }
  
  .menu_mobile li{
  left: 2rem;
  top: 2rem;
  }
  
  .titulo h2{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.1;
    top: 5rem;
  }
  
  span{
    font-size: 30px;
  }
  
  .linha{
    margin: 20px auto 50px;
    width: 130px;
    max-width: 90%;
    top: 5rem;
  } 

  .cardapio{
    width: 80%;
    background-color: black;
    height: 585vh;
    top: 5rem;
    position: relative;
    left: 10%;
  }

    .menu_cardapio{
      display: flex;
      justify-content: center; 
      flex-wrap: wrap;
      gap: 12px; 
      top: 3rem;
    }
  
    .menu_cardapio a{
      width: calc(50% - 10px); 
      text-align: center; 
      padding: 10px 0; 
    }
  
    #burger, #combo, #familia, #bebidas{
      margin: 0;
      margin-top: 10px; 
     display: block; 
    }
  
    .footer{
    height: 45vh;
    top: 68rem;
    width: 100%;
    padding-bottom: 2.5rem;
    position: relative;
  }
  
  .linha_div_footer{
    bottom: -70rem;
    z-index: 2;
  }
  
  }