html{
    scroll-behavior: smooth;
  }
  
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
  }
  
  
  ul {
      list-style: none;
  }
  
  a{
      text-decoration: none;
      color: #fff;
      font-size: 1.1em;
      font-weight: 500;
      transition: all 0.5s;
  }
  
  a:hover{
    color: #1abc9c;
  }
  
  li {
    display: inline;
    margin-right: 3rem;
    left: 550px;
    position: relative;
    font-size: 1.1rem; 
  }
  
  .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu{
    line-height: 30px;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 80px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  }

  .btn-menu{
    cursor: pointer;
    display: none;
  }
  
  .btn-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
  }
  
  
  .btn-menu-x{
    cursor: pointer;
    display: none;
  }
  
  .btn-menu-x .linha1{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transform: rotate(45deg);
  }
  
  .btn-menu-x .linha2{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transform: rotate(135deg);
  }

  .menu_mobile{
    position: absolute;
    right: 5rem;
    top: 70px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden; 
    display: none;
    height: 200px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .menu_mobile li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  nav h1{
    font-size: 1.7em;
    font-weight: 800;
    text-transform: uppercase;
    font-style: italic;
    color: #fff;
  }

  .img_fundo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: -2;
  }
  
  .sobrepor{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .titulo h2{
    text-align: center;
    font-family: Fantasy;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.4;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    top: 7rem;
    letter-spacing: 7px;
  }
  
  span{
    font-size: 62px;
    display: block;
  }
  
  .linha{
    display: block;
    margin: 20px auto 50px;
    width: 190px;
    max-width: 90%;
    top: 6rem;
    position: relative;
  }

.contato{
  height: 65vh;
  background-color: black;
  position: relative;
  top: 10.6rem;
}

.informaçoes{
  padding: 0.8rem;
 }

 .caixa-info{
  margin-bottom: 1rem;
  border: none;
 }

 label{
  font-size: 14px;
  margin-bottom: 3rem;
  color: white;
  font-family: Fantasy;
  letter-spacing: 2px;
  text-transform: uppercase;
 }

 .caixa-info input{
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  line-height: 1.3;
 }

 .enviar{
  height: 3rem;
  border: 1px solid #fff;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  color: black;
  background-color: #fff;
  letter-spacing: 1.5px;
  position: relative;
  left: 24.8%;
  width: 51.2%; 
  top: -5.3rem;
 }

 .enviar:hover{
  transition: all .2s ease-in-out;
  color:#fff;
  background-color: black ;
}

 textarea{
  display: block;
  background-color: black;
  color: #fff;
  font-size: 18px;
  border: 1px solid #fff;
  line-height: 1.3; 
  position: relative;
  left: 24.8%;
  width: 49.5%;   
 }

 .primeiro-nome{
  width: 22.95%;
  height: 35px;
  position: relative;
  left: 24.4%;
  margin-right: 1.3%;
  top: 3.158rem;
 }

 .nome_nome1{
  position: relative;
  left: 21.5rem;
  top: 2.5rem;
 }

 /*1.7 = 20px*/

 .segundo-nome{
  width: 23.6%;
  height: 35px;
  position: relative;
  left: 51%;
  top: -2.05rem;
 }

 .nome_sobrenome{
  position: relative;
  left: 44.7rem;
  top: -2.5rem;
 }

 .email{
  width: 22.95%;
  height: 35px;
  position: relative;
  left: 24.4%;
  margin-right: 1.3%;
  top: -1rem;
 }

.nome_email{
  position: relative;
  left: 21.5rem;
  top: -1.5rem;
 }

 .numero{
  width: 23.6%;
  height: 35px;
  position: relative;
  left: 51%;
  top: -6.15rem;
 }

 .nome_telefone{
  position: relative;
  left: 44.7rem;
  top: -6.6rem;
 }

 .mensagem{
  width: 49.5%;  
  height: 110px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 4px;
  top: -5.5rem;
 }

 .nome_mensagem{
  position: relative;
  left: 22.3rem;
  top: -6rem;
 }

 .footer{
  height: 50vh;
  position: relative;
  top: 9.3rem;
  width: 100%;
  background-color: black;
}

.linha_footer{
  position: relative;
  height: 1px;
  width: 80%;
  left: 10%;
  background-color: #fffafa9e;
  display: block;
  bottom: -6rem;
}

.footer{
  color: #fffafa9e;
  text-align: center;
}

.txt_footer p{
  color: #fffafa9e;
}

.txt_footer{
  top: 5rem;
  position: relative;
}

.footer h5{
  position: relative;
  top: 7rem;
}

.linha_div_footer{
  position: relative;
  height: 1px;
  width: 100%;
  background-color: #fffafa9e;
  display: block;
  bottom: -13.5rem;
  z-index: 2;
}

@media screen and (max-width: 600px){

  .img_fundo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -2;
  }

  .menu a{
    font-size: 16px;
    line-height: 1.2rem;
}

li {
  font-size: 1rem; 
  margin-right: 3rem;
  left: 120px;
  display: block;
}

ul {
  display: none;
}

.menu{
  line-height: 12px;
  padding: 0 40px;
}

.btn-menu{
  display: block;
  top: 0.5rem;
  right: 1.3rem;
  position: absolute;     
  -webkit-tap-highlight-color: transparent;
}

.btn-menu div{
  width: 38px;
  height: 5px;
  background: #fff;
  margin: 8px;
  border-radius: 10px;
}

.btn-menu-x{
  cursor: pointer;
  display: none;
  -webkit-tap-highlight-color: transparent;
  position: absolute;   
  top: 1rem;
  right: 1rem;
}

.btn-menu-x .linha1{
  width: 38px;
  height: 5px;
  background: #fff;
  margin: 8px;
  transform: rotate(45deg);
  top: 28px;
  right: 1rem;
  position: relative;
  border-radius: 10px;
}

.btn-menu-x .linha2{
  width: 38px;
  height: 5px;
  background: #fff;
  margin: 8px;
  transform: rotate(135deg);
  top: 1rem;
  right: 1rem;
  position: relative;
  border-radius: 10px;
}

.abrir{
  display: block;
  height: 200px;
}

.menu_mobile .abrir{
  display: block; 
}

.open {
  display: flex;
  overflow-x: hidden;
}

body.fixo{
  overflow: hidden;
}

.fechar{
  display: none;
} 

.remover{
  display: none;
}

.itemremover{
  display: none;
}

.titulo h2{
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
  top: 5rem;
}

span{
  font-size: 30px;
}

.linha{
  margin: 20px auto 50px;
  width: 130px;
  max-width: 90%;
  top: 5rem;
}

.contato{
  height: 65vh;
  top: 6.7rem;
}

.informaçoes{
  padding: 2.5rem;
 }

 .caixa-info{
  margin-bottom: 1rem;
 }

 label{
  font-size: 14px;
  letter-spacing: 2px;
  position: relative;
  bottom: 0.5rem;
  top: 0.5rem;
  letter-spacing: 3px;
 }

 .caixa-info input{
  font-size: 16px;
  padding: 6px 10px;
  line-height: 1.3;
 }

 .primeiro-nome{
  width: 100%;
  height: 35px;
  left: auto;
  margin-right: auto;
  top: 0rem;
 }

 .nome_nome1{
  left: auto;
  top: auto;
 }

 .segundo-nome{
  width: 100%;
  height: 35px;
  left: auto;
  top: 0rem;
 }

 .nome_sobrenome{
  left: auto;
  top: auto;
 }

 .email{
  margin-right: 1.3%;
  top: -1rem;
  width: 100%;
  height: 35px;
  left: auto;
  top: 0rem;
 }

.nome_email{
  left: auto;
  top: auto;
 }

 .numero{
  top: -6.15rem;
  width: 100%;
  height: 35px;
  left: auto;
  top: 0rem;
 }

 .nome_telefone{
  left: auto;
  top: auto;
 }

 .mensagem{
  width: 100%;  
  height: 110px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 4px;
  top: auto;
 }

 
 textarea{
  font-size: 18px;
  line-height: 1.3; 
  left: auto;
  width: 49.5%;   
 }


 .nome_mensagem{
  left: auto;
  top: auto;
 }

 .enviar{
  height: 3rem;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1.5px;
  left: auto;
  width: 107%; 
  top: auto;
 }

 .footer{
  height: 45vh;
  top: 5.4rem;
  width: 100%;
  padding-bottom: 2.5rem;
}

.linha_div_footer{
  bottom: -9rem;
  z-index: 2;
}

}